.imageOptions {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.imageOption {
    margin: 0 10px;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    width: 600px;
    /* Adjust the size of the grid as needed */
    height: 600px;
    /* Adjust the size of the grid as needed */
    margin: 0 auto;
}