@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Myfont";
  src: url("../public/fonts/LondrinaSolid-Black.ttf");
}

.nouns-font {
  font-family: MyFont;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.snap-x {
  scroll-snap-type: x mandatory;
}

.snap-center {
  scroll-snap-align: center;
}

.noogles-cursor {
  cursor: url('/public/assets/noogles1.png'), auto;
}